[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "quadriceps"]
	path = quadriceps
	url = https://github.com/nittanylion/quadriceps-r
